@page "/admin/client/ChangeClientPassword/{id:long}"
@using SecurityService.Application.Service.Client
@inject IClientApplication _application
@inject NavigationManager NavManager

<h3>تغییر رمز عبور</h3>
<Div Class="container">
    <EditForm Model="@_changePassword" OnValidSubmit="@HandleValidSubmit">
      <div class="row input-group input-group-outline">
        <div class="form-group col-md-4">
          <label for="inputEmail4">رمزعبور</label>
          <InputText type="text" class="form-control" @bind-Value="_changePassword.Password" />
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">تکرار رمزعبور</label>
          <InputText type="text" class="form-control"  @bind-Value="_changePassword.RePassword"/>
        </div>
  
    </div>
    <br />
    <Blazorise.Button Type="Blazorise.ButtonType.Submit" Color="Blazorise.Color.Primary">تغییر رمزعبور</Blazorise.Button>
      <a class="btn btn-danger" href="/admin/client">بازگشت</a>    
    </EditForm>
</Div>

