@page "/admin/camera/panel/{id:long}"
@using SecurityService.Application.Service.Dtos.Camera.IPCamera
@using UIService.Components
@inject IIPCameraApplication _camApplication

<PageTitle>Index</PageTitle>


<div style="text-align:center">
    <div class="row" >

        <div class="col-9">
            <h1 style="color:black">@cam.CameraName</h1>
        </div>
        <div class="col-3">
            <a href="/admin/camera"  class="icon icon-expand"><i  class="fas fa-arrow-circle-left" ></i></a>
        </div>
    </div>

    <CameraStream Camera=cam></CameraStream>

</div>