<hr class="horizontal light mt-0 mb-2">
<div class="collapse navbar-collapse px-0 w-auto  max-height-vh-100" id="sidenav-collapse-main">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/">
                <div class="text-white text-center ms-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons-round opacity-10">dashboard</i>
                </div>
                <span class="nav-link-text me-1">صفحه اصلی</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/client">
                <div class="text-white text-center ms-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons-round opacity-10">dns</i>
                </div>
                <span class="nav-link-text me-1">دستگاه ها</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/camera">
                <div class="text-white text-center ms-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons-round opacity-10">video_camera_front</i>
                </div>
                <span class="nav-link-text me-1">دوربین ها</span>
            </a>
        </li>
    </ul>
</div>
<div class="sidenav-footer position-absolute w-100 bottom-0 ">
    <div class="mx-3">
        <a class="btn bg-gradient-primary mt-4 w-100" href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree" type="button">خروج</a>
    </div>
</div>

@code {

}
